.fake_banner {
  height: 320px;
  background-color: gray;
  margin-bottom: 100px;
}

.fake_section_1 {
  height: 200px;
  background-color: gray;
  margin-bottom: 50px;
}

.fake_section_2 {
  height: 200px;
  background-color: gray;
  margin-bottom: 50px;
}

.fake_section_3 {
  height: 200px;
  background-color: gray;
  margin-bottom: 50px;
}
